@charset "EUC-KR";

#bodybg {
	background-image: url("../Images/background.gif");
}
#bodybg2 {
	background-color: white;
}
.main_footer {
	bottom: 0;
	text-align: left;
	width: 100%;
	color: #666;
	letf: 0;
	margin-top: 150px;
}
.main_footer > hr {
	color: #bbb;
	background: #bbb;
	border: 0;
	height: 0.5px;
}

/* Top Menu */
#mainHeader {
	background: url(../Images/header_Bg.png) repeat-x left top;
	width: 100%;
	top: 0;
}
#logo {
	position: relative;
	margin: auto;
}
#logo_img {
	background: transparent;
	vertical-align: top;
}
#topMenu {
	position: relative;
	margin: 0 auto;
	border-bottom: 1px solid #e9ecef;
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	background: url(../Images/header_Bg.png) repeat-x left top;
	top: 0;'

	font-size: 13pt;
}
#topMenu ul {
	position: absolute;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	top: 0;
	margin: auto;
	margin-top: 30px;
}
#topMenu ul li {
	list-style: none;
	color: black;
	background: rgba(255, 255, 255, 0);
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}
#topMenu ul li a {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: block;
	color: #666666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar-nav1 {
	margin: auto;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 30%;
	position: absolute;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	top: 0;
}
#navbar-1 {
}
#topMenu .navbar-nav1 > li.nav-item > a {
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px 20px;
}
.navbar-nav2 {
	margin-left: auto;
	margin-right: auto;
	left: 60%;
}
#topMenu .navbar-nav2 > li.nav-item > a {
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px 20px;
}
.nav-item {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}
#dropdown-content {
	display: inherit;
	background-color: white;
	z-index: 1;
}
#dropdown-content a {
	background-color: #f1f1f1;
}
#dropdown-content a:hover {
	display: block;
	padding: 7px 12px;
	background-color: white;
	text-decoration: none;
}
.dropdown-menu-item:hover #dropdown-content{
    display: block;
    text-decoration: none;
}
.link_content {
	text-decoration: none;
}


/*
#topMenu > div > div > ul > li a:hover #dropdown-content {
	display: block;
}*/

/* View */
img {
	background: transparent;
}
* {box-sizing: border-box}
/* Slideshow container */
#container {
	margin-top: -10px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 44%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.prev {
	left: 0;
}
.next {
	right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}
/* The dots/bullets/indicators */
.dot_div {
	position: relative;
	margin-top: -80px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-image: url(../Images/icon_off.png);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
	background-image: url(../Images/icon_on.png)
}
.dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  text-align: center;
  margin: auto;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#main_img_1 {
	margin-top: 20px;
}

/* Main Images */
#img_container {
	width: 10px;
	height: 10px;
}
.img_view {
	width: 100px;
	height: 100px;
}


/* CategoryView */
.category_out_div {
	width: 1200px;
	margin: auto;
	text-align: center;
}
.category_nav {
	float: left;
	margin: auto;
	margin-top:10px;
	text-align: center;
}
.category_nav ul {
	list-style: none;
}
.category_nav ul li {
	margin: 0dp;
	padding: 0dp;
}
.category_nav ul li a {
	text-decoration: none;
	margin: 0dp;
	padding: 0dp;
}
.category_section {
	margin: auto;
	margin-left: 250px;
	margin-top: 30px;
	position: absolute;
	width: 800px;
	clear: both;
	text-align: center;
}
.category_top_img {
	display: block;
	left: 0;
	margin-left: 40px;
}

/* Menu */
.menu_chicken {
	background-color: white;
	width: 750px;
	height: 100%;
	border-radius: 15px;
}
.img_menu_chicken {
	margin-top: 20px;	
}
.menu_table {
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.menu_table_img {
	margin-left: 20px;
	margin-right: 20px;
	border: 1px dotted #666;
	margin-top: 30px;
}
.company_table_img {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}
.menu_table_text {
	margin: -50dp;
	padding: 0dp;
	margin-bottom: 30px;
}

/* SignUp */
.signup_div {
	margin: auto;
	background-color: rgba(255,255,255,0.6);
	width: 400px;
	height: 200px;
	border: #666 solid 1px;
	border-radius: 25px;
	margin-top: 50px;
	padding: 30px;
	margin-left: 150px;
}
.signup_section {
	margin: auto;
	text-align: center;
}
.sign_table {
	margin-top: 20px;
}
.signup_btn {
	background-color: red;
	color: white;
	border-radius: 15px;
	margin-top: 15px;
}
.signup_input {
	border-radius: 13px;
	padding-left: 13px;
	margin-left: 10px;
}

/* cart insert */
.cart_insert_out_class {
	background-color: white;
	width: 750px;
	height: 100%;
	border-radius: 15px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.cart_insert_img {
	margin: auto;
	margin-top: 30px;
	margin-right: 43px;
}
.cart_insert_table {
	margin: auto;
	text-align: center;
}
.cart_insert_table > tr > td {
	padding-left: 30px;
}
.cart_insert_input {
	border-radius: 15px;
	padding-left: 14px;
	margin-left: 10px;
	width: 55px;
}
.cart_insert_btn {
	background-color: red;
	color: white;
	border-radius: 15px;
	margin-left: 26px;
	margin-right: 7px;
	margin-bottom: 25px;
}
.cart_insert_innertable {
	margin: auto;
}

/* cart view */
.cart_view_table {
	margin: auto;
	text-align: center;
	padding-top: 20px;
	border-collapse: collapse;
}
.cart_view_table > tr > td {
	padding-left: 30px;	
}
.cart_view_tr td {
	border-bottom: 1px solid #bbb;
}
.cart_view_btn {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: red;
	border-radius: 15px;
	color: white;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
}